<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- <context:component-scan base-package="cn.itcast.spring" /> -->
	<context:annotation-config />
	<bean id="orderService" class="cn.itcast.spring.demo5.OrderService">
		<property name="customerDao" ref="customerDao" />
		<!-- <property name="orderDao" ref="orderDao" /> -->
	</bean>
	<bean id="orderDao" class="cn.itcast.spring.demo5.OrderDao" />
	<bean id="customerDao" class="cn.itcast.spring.demo5.CustomerDao" />
</beans>