<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Spring不带有切入点的切面===================== -->
    <!-- 目标类：被增强的类 -->
	<bean id="customerDao" class="cn.itcast.spring.demo3.CustomerImpl" />
	<bean id="productDao" class="cn.itcast.spring.demo4.ProductDao" />
	<!-- 前配置通知： -->
	<bean id="myBeforeAdvice" class="cn.itcast.spring.demo3.MyBeforeAdvice" />
	<bean id="myAroundAdvice" class="cn.itcast.spring.demo4.MyAroundAdvice" />
	<!-- 配置切面信息 -->
	<bean id="advisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="pattern" value="cn\.itcast\.spring\.demo4\.ProductDao\.delete"/>
		<property name="advice" ref="myAroundAdvice" />
	</bean>
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
</beans>