<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>cn.itcast.web.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>cn.itcast.web.ListProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitUpdateServlet</servlet-name>
    <servlet-class>cn.itcast.web.InitUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>cn.itcast.web.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSelectServlet</servlet-name>
    <servlet-class>cn.itcast.web.DeleteSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByWhereServlet</servlet-name>
    <servlet-class>cn.itcast.web.FindByWhereServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListByPageServlet</servlet-name>
    <servlet-class>cn.itcast.web.ListByPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitProductServlet</servlet-name>
    <servlet-class>cn.itcast.web.InitProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>cn.itcast.web.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCartCountServlet</servlet-name>
    <servlet-class>cn.itcast.web.ChangeCartCountServlet</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/listProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitUpdateServlet</servlet-name>
    <url-pattern>/initUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSelectServlet</servlet-name>
    <url-pattern>/deleteSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByWhereServlet</servlet-name>
    <url-pattern>/findByWhere</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListByPageServlet</servlet-name>
    <url-pattern>/listByPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitProductServlet</servlet-name>
    <url-pattern>/initProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartCountServlet</servlet-name>
    <url-pattern>/changeCartCount</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
